[user]
	name = Eik Hvattum Røgeberg
	email = eik.rogeberg@gmail.com
	signingkey = 59EB7D4EEA0E7E83

[credential]
	helper = osxkeychain

[commit]
	gpgsign = true

[init]
	defaultBranch = master
	templatedir = /Users/eik/.git-templates

[diff "ansible-vault"]
	textconv = ansible-vault view

[pull]
	ff = only

[rebase]
	updateRefs = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nano
